.loading {
      top: 11vh;
      color: rgba(37, 37, 37);
      position: relative;        
  }

  .image {
      display: block;
      height: 450px;
      width: 550px;
      margin-top: 20px;
      margin-left: 350px;
   
  }
  
  .image img {
      height: 100%;
      width: auto; 
      border-radius: 20px;
  }