.gamesgrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 10px;
}

.linkF {
  font-family: 'Cinzel', serif;
  text-decoration: none;
  background: none;
}

.btnF {
  font-family: 'Cinzel', serif;
  font-size: 15px;
  color: rgb(184, 2, 2);
  border: 2px solid #fdfdfd;
  padding: 6px 20px;
  transition-duration: 0.4s;
    
}

.btnF:hover {
  background-color: #ccc8c8;
  color: rgb(43, 43, 43);
}

