.card {
        display: flex;
        flex-direction: column;
        width: 350px;
        height: 300px;
        border: 1px solid rgb(224, 222, 222);
        overflow: hidden;
        border-radius: 25px;
        margin-left: 20px;
        margin-right: 20px;
        background-color: transparent;
        perspective: 1000px;
      }