body {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 80vh;
  background: #232324b2;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 40px 0;
}

.card .box {
  position: relative;
  min-width: 380px;
  height: 500px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin: 30px;
  transition: 0.5s;
}

.card .box .content {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #2a2b2f;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
}

.card .box .content:hover {
  transform: translateY(-50px);
}

.card .box .content :before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.03);
}
.card .box .content .ctn {
  padding: 20px;
  text-align: center;
}

.name {
  font-size: 1.8rem;
  color: #fff;
  z-index: 1;
  transition: 0.5s;
  margin-bottom: 15px;
  text-align: center;
}

.rating {
  font-size: 1rem;
  color: rgb(250, 246, 44);
  z-index: 1;
  transition: 0.5s;
  margin-bottom: 5px;
  text-align:end;
}

.para  {
  font-size: 1rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.9);
  z-index: 1;
  transition-duration: 0.5s;
}

.btn {
  font-family: 'Cinzel', serif;
  margin-left: 35%;
  display: inline-block;
  padding: 8px 20px;
  background: rgb(29, 29, 29);
  border-radius: 5px;
  text-decoration: none;
  color: white;
  margin-top: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition-duration: 0.5s;
}

.btn:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  background: #fff;
  color:  rgb(184, 2, 2);
}

.imagen {
  width: 100%;
  height: 200px;
  border-radius: 5px;
  margin-bottom: 15px;
}





