.navbar {
    height: 56px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #303236;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.navbar nav {
    height: 100%;
    color: white;
    height: 100%;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
}

