@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');

.navbar {
    height: 56px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #303236;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.navbar nav {
    height: 100%;
    height: 100%;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
}

.linkhover {
    text-decoration: none;
    display: inline-block;
    position: relative;
    color: #f2f8f3;
}

.titleNav {
    font-family: 'Cinzel', serif;
}
